@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

table thead tr td {
    font-weight: bold;
}

.saved {
    color: #ffffff;
    background-color: darkgreen;
    padding: 5px;
}

.saveError {
    color: #ffffff;
    background-color: red;
    padding: 5px;
}

.completed {
    background-color: lightgray;
    text-decoration: line-through;
    font-style: italic;
}

.handPointer {
    cursor: pointer;
}

/*.ng-enter {*/
    /*transition: 0.05s;*/
    /*opacity: 0;*/
/*}*/

/*.ng-enter-stagger {*/
    /*transition-delay: 0.05s;*/
/*}*/

/*.ng-enter-active{*/
    /*opacity: 1;*/
/*}*/

/*.ng-leave {*/
    /*transition: 0.05s;*/
    /*opacity: 1;*/
/*}*/

/*.ng-leave-stagger {*/
    /*transition-delay: 0.05s;*/
/*}*/

/*.ng-leave-active{*/
    /*opacity: 0;*/
/*}*/