<!-- Edit button at the top -->
<button class="btn btn-primary btn-xs no-print"
        ng-show="!dc.editing && !dc.customer.isCompleted"
        ng-click="dc.editItem()">Edit
</button>

<!-- Edit button at the top -->
<button class="btn btn-success btn-xs no-print"
        ng-show="!dc.editing && !dc.customer.isCompleted"
        ng-click="dc.completeCustomer()">Mark as Complete
</button>

<button class="btn btn-danger btn-xs no-print"
        ng-show="!dc.editing && dc.customer.isCompleted"
        ng-click="dc.markAsIncomplete()"> Mark as Active
</button>

<!-- Customer Edit Form -->
<form name="detailsForm" ng-submit="dc.saveCustomer(detailsForm.$valid)" novalidate>
    <legend> Customer Information</legend>

    <div class="h2">
        <span ng-hide="dc.editing">{{dc.customer.firstName}}</span>

        <input ng-show="dc.editing"
               name="firstName"
               id="firstName"
               ng-model="dc.customer.firstName"
               placeholder="Customer First Name"
               required/>


        <span ng-messages="detailsForm.firstName.$error" ng-show="detailsForm.firstName.$touched">
            <span class="text-danger" ng-message="required">First Name is required, Please enter a valid name</span>
        </span>


        <span ng-hide="dc.editing">{{dc.customer.lastName}}</span>

        <input ng-show="dc.editing"
               name="lastName"
               id="lastName"
               ng-model="dc.customer.lastName"
               placeholder="Customer Last Name"
               required/>

        <span ng-messages="detailsForm.lastName.$error" ng-show="detailsForm.lastName.$touched">
            <span class="text-danger" ng-message="required">Last Name is required, Please enter a valid name</span>
        </span>



    <span>

        <span class="text-danger" ng-hide="dc.editing">{{dc.customer.tel | tel}}</span>

        <input ng-show="dc.editing"
               name="tel"
               id="tel"
               ng-model="dc.customer.tel"
               ui-mask="( 999 ) 999-9999"
               required/>

        <span ng-messages="detailsForm.tel.$error" ng-show="detailsForm.tel.$touched">
            <span class="text-danger" ng-message="required">Contact no is required, Please type the numbers only, must be 10 digits</span>
        </span>

    </span>

    </div>
    <div>
        <span ng-hide="dc.editing"><b>Event Date: </b>{{dc.customer.eventDate}}</span>

        <span ng-show="dc.editing"
              class="input-group col-md-4 col-sm-4 col-xs-6">
            <input id="eventDate"
                   name="eventDate"
                   class="form-control"
                   type="text"
                   datepicker-popup="MM/dd/yyyy"
                   date-type="string"
                   is-open="dc.opened"
                   ng-model="dc.customer.eventDate"
                   ng-change="dc.dateStringConversion()"
                   placeholder="Event Date">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dc.open($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
        </span>
    </div>
    <div>
        <span>

        <span ng-hide="dc.editing"><b> Salesperson:</b> {{dc.customer.salesperson}}</span>

        <input ng-show="dc.editing"
               name="salesperson"
               id="salesperson"
               ng-model="dc.customer.salesperson"
               placeholder="Salesperson or House"
               required/>

        <span ng-messages="detailsForm.salesperson.$error" ng-show="detailsForm.salesperson.$touched">
            <span class="text-danger"
                  ng-message="required">salesperson name is required, if no one helped type House</span>
        </span>

    </span>

    </div>

    <span class="h4">

        <span ng-hide="dc.editing"><b>Suit to Purchase:</b> {{dc.customer.suitStyle}}</span>

        <input ng-show="dc.editing"
               name="suitStyle"
               id="suitStyle"
               ng-model="dc.customer.suitStyle"
               placeholder="Customer Style"
               required/>

        <span ng-messages="detailsForm.suitStyle.$error" ng-show="detailsForm.suitStyle.$touched">
            <span class="text-danger" ng-message="required">Items to purchase is required</span>
        </span>

    </span>


    <div>

        <span ng-hide="dc.editing"><b>Notes:</b> {{dc.customer.notes}}</span>

        <textarea ng-show="dc.editing"
                  name="notes"
                  id="notes"
                  rows="4"
                  cols="50"
                  ng-model="dc.customer.notes"
                  placeholder="Notes">
        </textarea>

    </div>


    <div>
        <button type="submit" ng-show="dc.editing" class="btn btn-success"> Save Customer Information</button>
    </div>

</form>

<!-- Horizontal line separation -->
<hr>

<!-- Customer Party Form -->
<form name="partyForm" ng-submit="dc.addParty(partyForm.$valid)" novalidate>

    <legend> Customer Party Information ({{dc.memberCount}} Guests)</legend>
<span class="no-print">

    <span>
        <input id="partyFirstName"
               name="partyFirstName"
               type="text"
               ng-model="dc.customerParty.firstName"
               placeholder="Party First Name"
               required>
        <span ng-messages="partyForm.partyFirstName.$error" ng-show="partyForm.partyFirstName.$touched">
            <span class="text-danger" ng-message="required">First Name of your party is required </span>
        </span>
    </span>

    <span>
        <input id="partyLastName"
               name="partyLastName"
               type="text"
               ng-model="dc.customerParty.lastName"
               placeholder="Party Last Name"
               required>
        <span ng-messages="partyForm.partyLastName.$error" ng-show="partyForm.partyLastName.$touched">
            <span class="text-danger" ng-message="required">Last Name of your party is required </span>
        </span>
    </span>

    <span>
        <input id="partySuitStyle"
               name="partySuitStyle"
               type="text"
               ng-model="dc.customerParty.suitStyle"
               placeholder="Suit for Wedding"
               ng-keydown="dc.blurOnEnter($event)"
               required>
    </span>
    <span ng-messages="partyForm.partySuitStyle.$error" ng-show="partyForm.partySuitStyle.$touched">
            <span class="text-danger" ng-message="required">Item to purchase is required </span>
    </span>

    <button type="submit">Add Party Member</button>
</span>
</form>

<!-- Customer party display table -->
<table class="table">
    <thead>
    <tr>
        <td>Completed</td>
        <td>Guest Name</td>
        <td>Suit for Wedding</td>
        <td class="no-print">
            <input type="checkbox" ng-model="dc.showDelete"> {{dc.showDelete ? 'Hide' : 'Show'}}
            <span class="glyphicon glyphicon-remove-circle text-danger"></span>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in dc.customerParty" ng-class="{completed: member.partyCompleted}">

        <td><input type="checkbox" ng-model="member.partyCompleted" ng-change="dc.customerParty.$save(member)"></td>

        <td>
            <span ng-hide="dc.isMemberEdited && $index === dc.index && !member.partyCompleted">
            {{member.partyFirstName}} {{member.partyLastName}}
            </span>

            <span ng-show="dc.isMemberEdited && $index === dc.index && !member.partyCompleted">
            <input type="text" ng-model="member.partyFirstName" placeholder="First Name">
            <input type="text" ng-model="member.partyLastName" placeholder="Last Name">
            </span>
        </td>

        <td>
            <span ng-hide="dc.isMemberEdited && $index === dc.index && !member.partyCompleted">
            {{member.partySuitStyle}}
            </span>

            <span ng-show="dc.isMemberEdited && $index === dc.index && !member.partyCompleted">
            <input type="text" ng-model="member.partySuitStyle" placeholder="Suit Style">
            </span>
        </td>

        <td>
            <span ng-hide="member.partyCompleted">

            <button ng-hide="dc.isMemberEdited && $index === dc.index"
                    class="btn btn-primary btn-xs no-print"
                    ng-click="dc.toggleMemberEdit($index)">Edit
            </button>

            <button ng-show="dc.isMemberEdited && $index === dc.index"
                    class="btn btn-success btn-xs no-print"
                    ng-click="dc.saveMember(member)">Save
            </button>

            </span>
        </td>

        <td ng-hide="!dc.showDelete">
            <span ng-hide="member.partyCompleted">
                <button class="btn btn-danger btn-xs no-print"
                        require-confirmation="Are you sure you want to delete this Member?"
                        ng-click="dc.customerParty.$remove(member)">Delete
                </button>
            </span>
        </td>

    </tr>
    </tbody>
</table>