<!-- Edit button at the top -->
<button class="btn btn-primary btn-xs"
        ng-hide="dc.editing"
        ng-click="dc.editItem()">Edit
</button>

<!-- Customer Edit Form -->
<form name="detailsForm" ng-submit="dc.saveCustomer(detailsForm.$valid)" novalidate>
    <legend> Customer Information</legend>

    <div class="h1">
        <span class="h1" ng-hide="dc.editing">{{dc.customer.firstName}}</span>

        <input ng-show="dc.editing"
               name="firstName"
               id="firstName"
               ng-model="dc.customer.firstName"
               placeholder="Customer First Name"
               required/>


        <span ng-messages="detailsForm.firstName.$error" ng-show="detailsForm.firstName.$touched">
            <span class="text-danger" ng-message="required">First Name is required, Please enter a valid name</span>
        </span>


        <span class="h1" ng-hide="dc.editing">{{dc.customer.lastName}}</span>

        <input ng-show="dc.editing"
               name="lastName"
               id="lastName"
               ng-model="dc.customer.lastName"
               placeholder="Customer Last Name"
               required/>

        <span ng-messages="detailsForm.lastName.$error" ng-show="detailsForm.lastName.$touched">
            <span class="text-danger" ng-message="required">Last Name is required, Please enter a valid name</span>
        </span>



    <span>

        <span class="text-danger" ng-hide="dc.editing">{{dc.customer.tel | tel}}</span>

        <input ng-show="dc.editing"
               name="tel"
               id="tel"
               ng-model="dc.customer.tel"
               ui-mask="( 999 ) 999-9999"
               required/>

        <span ng-messages="detailsForm.tel.$error" ng-show="detailsForm.tel.$touched">
            <span class="text-danger" ng-message="required">Contact no is required, Please type the numbers only, must be 10 digits</span>
        </span>

    </span>

    </div>

    <span class="h3">

        <span ng-hide="dc.editing">{{dc.customer.suitStyle}}</span>

        <input ng-show="dc.editing"
               name="suitStyle"
               id="suitStyle"
               ng-model="dc.customer.suitStyle"
               placeholder="Customer Style"
               required/>

        <span ng-messages="detailsForm.suitStyle.$error" ng-show="detailsForm.suitStyle.$touched">
            <span class="text-danger" ng-message="required">Items to purchase is required</span>
        </span>

    </span>


    <div>
        <button type="submit" ng-show="dc.editing" class="btn btn-success"> Save Customer Information</button>
    </div>

</form>

<!-- Horizontal line separation -->
<hr>

<!-- Customer Party Form -->
<form name="partyForm" ng-submit="dc.addParty(partyForm.$valid)" novalidate>

    <legend> Customer Party Information</legend>

    <span>
        <input id="partyFirstName"
               name="partyFirstName"
               type="text"
               ng-model="dc.customerParty.firstName"
               placeholder="Party First Name"
               required>
        <span ng-messages="partyForm.partyFirstName.$error" ng-show="partyForm.partyFirstName.$touched">
            <span class="text-danger" ng-message="required">First Name of your party is required </span>
        </span>
    </span>

    <span>
        <input id="partyLastName"
               name="partyLastName"
               type="text"
               ng-model="dc.customerParty.lastName"
               placeholder="Party Last Name"
               required>
        <span ng-messages="partyForm.partyLastName.$error" ng-show="partyForm.partyLastName.$touched">
            <span class="text-danger" ng-message="required">Last Name of your party is required </span>
        </span>
    </span>

    <span>
        <input id="partySuitStyle"
               name="partySuitStyle"
               type="text"
               ng-model="dc.customerParty.suitStyle"
               placeholder="Suit for Wedding"
               required>
        <span ng-messages="partyForm.partySuitStyle.$error" ng-show="partyForm.partySuitStyle.$touched">
            <span class="text-danger" ng-message="required">Suit information is required</span>
        </span>
    </span>

    <button type="submit">Add Party Member</button>

</form>

<!-- Customer party display table -->
<table class="table">
    <thead>
    <tr>
        <td>Completed</td>
        <td>Guest Name</td>
        <td>Suit for Wedding</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in dc.customerParty"  ng-class="{completed: member.isCompleted}">
        <td><input type="checkbox" ng-model="member.isCompleted" ng-change="dc.customerParty.$save(member)"></td>
        <td>{{member.partyFirstName}} {{member.partyLastName}}</span></td>
        <td>{{member.partySuitStyle}}</td>
        <td><button class="btn btn-danger btn-xs" ng-click="dc.customerParty.$remove(member)">Delete</button></td>
    </tr>
    </tbody>
</table>