<form class="form-horizontal col-md-8 col-md-offset-2"
      name="registryForm"
      ng-submit="mc.addCustomer(registryForm.$valid)" novalidate>

    <fieldset>
        <legend> Add Wedding Registry Info</legend>

        <div class="form-group"
             ng-class="{'has-error': registryForm.firstName.$invalid && registryForm.firstName.$touched}">
            <label for="firstName" class="col-md-2 control-label">First Name:</label>

            <div class="col-md-4">
                <input id="firstName"
                       name="firstName"
                       class="form-control"
                       type="text"
                       ng-model="mc.firstName"
                       required>
            </div>

            <div ng-messages="registryForm.firstName.$error" ng-show="registryForm.firstName.$touched">
                <div class="text-danger" ng-message="required">First Name is required</div>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.lastName.$invalid && registryForm.lastName.$touched}">
            <label for="lastName" class="col-md-2 control-label">Last Name:</label>

            <div class="col-md-4">
                <input id="lastName"
                       name="lastName"
                       class="form-control"
                       type="text"
                       ng-model="mc.lastName"
                       required>
            </div>

            <div ng-messages="registryForm.lastName.$error" ng-show="registryForm.lastName.$touched">
                <div class="text-danger" ng-message="required">Last Name is required</div>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.tel.$invalid && registryForm.tel.$touched}">
            <label for="tel" class="col-md-2 control-label">Phone Number:</label>

            <div class="col-md-4">
                <input id="tel"
                       name="tel"
                       class="form-control"
                       type="text"
                       ng-model="mc.tel"
                       ui-mask="( 999 ) 999-9999"
                       required>
            </div>

            <div ng-messages="registryForm.tel.$error" ng-show="registryForm.tel.$touched">
                <div class="text-danger" ng-message="required">Phone number is required & must be valid number</div>

            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.suitStyle.$invalid && registryForm.suitStyle.$touched}">
            <label for="suitStyle" class="col-md-2 control-label">Suit Style:</label>

            <div class="col-md-4">
                <input id="suitStyle"
                       name="suitStyle"
                       class="form-control"
                       type="text"
                       ng-model="mc.suitStyle"
                       required>
            </div>

            <div ng-messages="registryForm.suitStyle.$error" ng-show="registryForm.suitStyle.$touched">
                <div class="text-danger" ng-message="required">Suit to purchase is required</div>
            </div>

        </div>

        <div class="form-group">
            <button type="submit">Add Customer</button>
            <span>
                <span class="saved"
                      ng-hide="mc.saveButtonClicked">Product Saved</span>
                <span class="saveError"
                      ng-hide="mc.needsValidation">ERROR! Check all errors on the page</span>
            </span>
        </div>

    </fieldset>

</form>

