<form class="form col-md-6 col-md-offset-3"
      name="registryForm"
      ng-submit="mc.addCustomer(registryForm.$valid)" novalidate>

    <fieldset>
        <legend> Add Wedding Registry Info</legend>

        <div class="form-group"
             ng-class="{'has-error': registryForm.firstName.$invalid && registryForm.firstName.$touched}">
            <label for="firstName" class="control-label">First Name:</label>

            <div>
                <input id="firstName"
                       name="firstName"
                       class="form-control"
                       type="text"
                       ng-model="mc.firstName"
                       placeholder="First Name of Customer"
                       required>
            </div>

            <div ng-messages="registryForm.firstName.$error" ng-show="registryForm.firstName.$touched">
                <div class="text-danger" ng-message="required">First Name is required</div>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.lastName.$invalid && registryForm.lastName.$touched}">
            <label for="lastName" class="control-label">Last Name:</label>

            <div>
                <input id="lastName"
                       name="lastName"
                       class="form-control"
                       type="text"
                       ng-model="mc.lastName"
                       placeholder="Last Name of Customer"
                       required>
            </div>

            <div ng-messages="registryForm.lastName.$error" ng-show="registryForm.lastName.$touched">
                <div class="text-danger" ng-message="required">Last Name is required</div>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.tel.$invalid && registryForm.tel.$touched}">
            <label for="tel" class="control-label">Phone Number:</label>

            <div>
                <input id="tel"
                       name="tel"
                       class="form-control"
                       type="text"
                       ng-model="mc.tel"
                       ui-mask="( 999 ) 999-9999"
                       required>
            </div>

            <div ng-messages="registryForm.tel.$error" ng-show="registryForm.tel.$touched">
                <div class="text-danger" ng-message="required">Phone number is required & must be valid number</div>

            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.suitStyle.$invalid && registryForm.suitStyle.$touched}">
            <label for="suitStyle" class="control-label">Suit Style, Color, Size:</label>

            <div>
                <input id="suitStyle"
                       name="suitStyle"
                       class="form-control"
                       type="text"
                       ng-model="mc.suitStyle"
                       placeholder="320-0S2 Black 55 Long, SH200 Navy 14.5 36/37 etc"
                       required>
            </div>

            <div ng-messages="registryForm.suitStyle.$error" ng-show="registryForm.suitStyle.$touched">
                <div class="text-danger" ng-message="required">Suit to purchase is required</div>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.eventDate.$invalid && registryForm.eventDate.$touched}">
            <label for="eventDate" class="control-label">Event Date:</label>

            <div class="input-group col-md-4 col-sm-4 col-xs-6">
                <input id="eventDate"
                       name="eventDate"
                       class="form-control"
                       type="text"
                       datepicker-popup="shortDate"
                       is-open = "mc.opened"
                       ng-model="mc.eventDate">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="mc.open($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>

        </div>

        <div class="form-group"
             ng-class="{'has-error': registryForm.notes.$invalid && registryForm.notes.$touched}">
            <label for="notes" class="control-label">Notes:</label>

            <div>
                <textarea id="notes"
                          name="notes"
                          class="form-control"
                          rows="3"
                          ng-model="mc.notes"
                          placeholder="Enter notes such as 'customer has paid for his party members too'"
                        >

                </textarea>
            </div>

        </div>

        <div class="form-group">
            <button type="submit">Add Customer</button>
            <span>
                <span class="saved"
                      ng-hide="mc.saveButtonClicked">Product Saved</span>
                <span class="saveError"
                      ng-hide="mc.needsValidation">ERROR! Check all errors on the page</span>
            </span>
        </div>


    </fieldset>

</form>

