<div>
    <div>
        <h3> Enter Search Criteria</h3>
    </div>
    <span>
        <input type="text" ng-model="search.tel" placeholder="Telephone Only">
    </span>
    <span>
        <input type="text" ng-model="search.firstName" placeholder="First Name Only">
    </span>
    <span>
        <input type="text" ng-model="search.last" placeholder="Last Name Only">
    </span>
    <span>
        <input type="checkbox" ng-model="search.isCompleted">
    </span>
</div>

<hr>

<table class="table col-md-9">
    <thead>
    <td>Completed</td>
    <td>Name</td>
    <td>Telephone</td>
    <td>Suit for Wedding</td>
    <td>Date Added</td>
    </thead>
    <tbody>
    <tr ng-repeat="customer in sc.data | filter:search | orderBy:-'dateAdded'"
        ng-class="{completed: customer.isCompleted}">
        <td><input type="checkbox" ng-model="customer.isCompleted" ng-change="sc.data.$save(customer)"></td>
        <td>{{customer.firstName}} {{customer.lastName}}</td>
        <td>{{customer.tel | tel}}</td>
        <td>{{customer.suitStyle}}</td>
        <td>{{customer.dateAdded | date:'yyyy-MM-dd hh-mm-ss a'}}</td>
        <td>
            <a ui-sref="details({uniqueId: customer.$id})">
                <button class="btn btn-info">Edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>